body{
    text-align:center;
    background-color: bisque;
}

.about{
    margin:90px;
    padding:60px;
    border: 5px solid black;
    background-color: rgb(194, 241, 241);
}  

.about p{
    font-size:20px;
    line-height:30px;
}  

h1{
    font-size: 50px;
}